# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtualenv
.venv/
venv/

# Env files
.env*

# Logs
*.log

# macOS
.DS_Store

# Terraform
.terraform/
*.tfstate
*.tfstate.*
crash.log
crash.*.log
terraform.tfvars
.terraform.lock.hcl

# IDE
.vscode/
.idea/

